* {
  font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Gjør at alle boksene kommer nærmere sentrum*/
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: column;

  justify-content: center;

  gap: 32px;
}


/* Gjør at bildet for alle scenarioboksene blir like store og at det som er inni sentreres*/
.box-image {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-image img {
  height: 180px;
}

.box {
  border-radius: 10px;
}

/* Sørger for at første og andre rad av bokser har litt avstand mellom hver sine bokser*/
#upper-row-boxes,
#lower-row-boxes {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

/* Bestemmer fonten og skriftstørelsen på siden */

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 8px;
}

p {
  font-size: 16px;
  font-weight: 400;
  width: 300px;
  margin-top: 8px;
}
